cmp-jars-033 {

} 
	cmp-jars-033 .img {
		display: inline-block;
		width: 135px;
		height: 255px;
		margin: 2px;
	} 
		cmp-jars-033 .img img {
			width: 100%;
			height: 100%;
			border-radius: 5px;
		} 






