body {
	 background: linear-gradient( to right, #111, #117 );
	 color: lime;
	 font-family: Courier;
}




#cmp_middle {
	display: flex;
}



aside {
	width: 200px;
	margin: 0 10px 0 0;
}

#content {

}



footer {
	
}




table {
	border-collapse: collapse;	/* рамка одинарная общая на две ячейки */
}
	table td {
		/*padding: 0 20px;*/
		border: 1px solid #333;
		text-align: center;
	}




.btn {
	display: inline-block;
	margin: 0 0 2px 0;
	padding: 1px 10px;
	border-radius: 5px;
	text-align: center;
	background: linear-gradient( to bottom, #111, #115 );
	cursor: pointer;
}
	.btn:hover {
		background: linear-gradient( to bottom, #111, #117 );
		color: yellow;
	}

	.btn.active {
		background: linear-gradient( to bottom, #009, #099 );
		color: #fff;
	}





