.cmpJars {
	all: unset;
}




.cmpJars-tableJars {

}

	.cmpJars-tableJars thead td {
		padding: 5px 20px;
		font-weight: bold;
		color: #fff;
	}


	.cmpJars-tableJars tbody td {
		padding: 0 20px;
	}






	.cmpJars-cp {
		margin: 0 0 20px 0;
	}







	.cmpJars-txtFree {
		color: #555;
	}


	.cmpJars-txtAlco {
		color: #ff0;
	}




	.cmpJars-note {
		text-align: left;
	}

	.cmpJars-each {
		position: relative;
		display: inline-block;
		width: 100px;
	}
		.cmpJars-each img {
			margin: 1px;
			border-radius: 10px;
			width: 100%;
		}

		.cmpJars-each-num {
			position: absolute;
			top: 5px;
			left: 5px;
			width: 40px;
			padding: 0px 0px;
			border-radius: 10px;
			text-align: center;
			font-weight: bold;
			background-color: #fff;
			color:  #111;
		}

