#cmp_modal {

}

	#cmp_modal .body {
		position: fixed;
		height: 100%;
		display: flex;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba( 0, 0, 0, .9 );
	}
		#cmp_modal .body .content {
			width: 1000px;
			padding: 10px 0 0 0;
			display: flex;
			flex-grow: 1;
		}

		#cmp_modal .body .side {
			flex-grow: 1;
			background-color: rgba( 0, 0, 0, .5 );
			text-align: center;
			color: #777;
			cursor: pointer;
		}
			#cmp_modal .body .side:hover {
				color: #999;

			}










