cmp-table-list {
	all: initial;
	color: #fff;
}







	cmp-table-list .each {
		margin: 0 0 5px 0;
		padding: 2px 5px;
		border: 1px solid #777;
		border-radius: 5px;
		font-family: Courier;
		color: #0f0;
	}
		cmp-table-list .each .title {
			font-weight: bold;
			color: #0f0;
		}
		cmp-table-list .each .taste {
			font-style: oblique;
			color: #0f0;
		}

		cmp-table-list .each .ml {
			font-style: oblique;
			font-size: 80%;
			color: #777;
		}



/*

	cmp-table-list .each {
		width: 75px;
		display: inline-block;
		position: relative;
		margin: 1px;
	}
		cmp-table-list .each img {
			width: 100%;
			height: 100%;
			border-radius: 5px;
		}

	cmp-table-list .each .num {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 35px;
		border-radius: 5px;
		text-align: center;
		background: linear-gradient( to bottom, #009, #099 );
		color: #fff;
	}


*/









