

cmp-cast {} 





cmp-cast .img {
	height: 100px;
	width: 100px;
	display: inline-block;
	margin: 1px;
	cursor: pointer;
} 




	cmp-cast .img img {
		height: 100%;
		width: 100%;
		border-radius: 10px;
	} 










